$cls-prefix: "qa";

/*** colors ***/
$primary-color: #6772e5;
$secondary-color: #ffffff;
$success-color: #24d2b5;
$info-color: #0078d8;
$warning-color: #ff9041;
$danger-color: #ff5c6c;
$light-gray-color: #f0f0f0;

$question-color: #3895d9;
$answer-color: #ffa912;
